.sprint-board {
	margin: 20px;
	display: grid;
	grid-template-columns: repeat(5, minmax(240px, 1fr));
	gap: 1rem;
	background-color: #b4d3fa;
	padding: 10px;
	overflow-x: auto;
}

.sprint-column {
	background: #e8f1fa;
	padding: 0.75rem;
    min-height: 300px;
}

.sprint-column h2 {
	margin-top: 0;
    color: #484c58;
}

.user-story-list {
	display: grid;
	gap: 0.75rem;
}
